<%-include("./partials/head")%>
  <main>
    <form id='novoUsuario' method="POST" action="/cadastro">
      <label id="formNomeCompleto" for="nomeCompleto">Nome Completo</label>
      <input id="nomeUsuario" type="text" name="nomeCompleto" required maxlength="150" placeholder="Digite seu nome"
        value="<%= content.nomeCompleto ? content.nomeCompleto : '' %>" />
      <label id="formEmail" for="email">E-mail</label>
      <input id="emailUsuario" type="email" placeholder="seu-email@email.com" name="email" required
        value="<%= content.email ? content.email : '' %>" />
      <span>
        <%= error.email ? error.email : '' %>
      </span>
      <label id="form-dtaNascimento" for="dataNasc">Data de Nascimento</label>
      <input id="nascUsuario" type="date" name="dataNasc" required>
      <label id="form-perfilInvestidor" for="tipoPerfil">Perfil de Investidor</label>
      <select id="perfilUsuario" name="tipoPerfil" required>
        <option value="CONSERVADOR">Conservador</option>
        <option value="MODERADO">Moderado</option>
        <option value="ARROJADO">Agressivo</option>
      </select>
      <label id="formSenha" for="hashSenha">Senha</label>
      <input id="senhaUsuario" type="password" name="hashSenha" placeholder="Digite sua senha" required />
      <%= error.hashSenha ? error.hashSenha : '' %>
        <label id="formConfsenha" for="confSenha">Confirmação de Senha</label>
        <input id="senhaUsuario" type="password" name="confSenha" required>
        <div class="comandos">
          <input id="botaoCadastrar" type="submit" value="Cadastrar" />
        </div>
    </form>
  </main>