<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PI - Transacoes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <header>
        <%-include("./partials/header.ejs", { title: title })%>
    </header>
    <table class="table is-bordered is-striped is-narrow is-hoverable">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data de Pagamento</th>
            <th>Moeda</th>
            <th>Banco</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            <% for (const transacao of listaTransacao) { %>
            <tr>
                <td><%= transacao.tipoTransacao %></td>
                <td><%= transacao.categoria %></td>
                <td><%= transacao.descricao %></td>
                <td><%= transacao.valor %></td>
                <td><%= transacao.dataPagamento %></td>
                <td><%= transacao.moeda %></td>
                <td><%= transacao.banco %></td>
                <td>
                    <button class="button is-info"><a href="">Atualizar</a></button>
                    <button class="button is-danger"><a href="">Deletar</a></button>
                </td>
                <% } %>            
            </tr>
        </tbody> 
    </table>       
<button class="button is-primary"><a href="/transacoes">+ Despesa / Receita</a></button>

</body>