<%-include("./partials/header")%>
<%-include("./partials/sidebar")%>
    <table class="table is-bordered is-striped is-narrow is-hoverable">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data de Pagamento</th>
                <th>Moeda</th>
                <th>Banco</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% for (const transacao of listaTransacao) { %>
                <tr>
                    <td>
                        <%= transacao.tipoLancamento %>
                    </td>
                    <td>
                        <%= transacao.categoria.nome %>
                    </td>
                    <td>
                        <%= transacao.descricao %>
                    </td>
                    <td>
                        <%= transacao.moeda.cifra %> <%= transacao.valor %>
                    </td>
                    <td>
                        <%= transacao.dataPagto %>
                    </td>
                    <td>
                        <%= transacao.moeda.nome %>
                    </td>
                    <td>
                        <%= transacao.banco %>
                    </td>
                    <td>
                        <button class="button is-info"><a href="/transacoes/<%= transacao.id %>/attTransacoes">Atualizar</a></button>
                        <button class="button is-danger"><a href="">Deletar</a></button>
                    </td>
                    <% } %>
                </tr>
        </tbody>
    </table>
    <button class="button is-primary"><a href="/transacoes">+ Despesa / Receita</a></button>
<%-include("./partials/footer")%>