<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PI - Transacoes</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>

<body>
    <header>
        <%-include("./partials/header.ejs", { title: title })%>
    </header>
    <main>
        <div class="menuesq">
            <div class="paineldireita">
                <div class="paineldireita2">
                    <form form class="box" method="POST" action="/transacoes">
                        <label class="label" for="tipoLancamento">Receita ou Despesa</label>
                        <select class="input" required name="tipoLancamento">
                            <option>Receita</option>
                            <option>Despesa</option>
                        </select>
                        <label class="label" for="categoria">Categoria</label>
                        <select class="input" required name="idCategorias_fk">
                            <% for( let index=0; index < categorias.length; index++ ) { %>
                                <option value="<%= categorias[index].id %>">
                                    <%= categorias[index].nome %>
                                </option>
                                <% } %>
                        </select>
                        <label class="label" for="form-descricao">Descrição</label>
                        <input class="input" type="text" placeholder="Descricao Resumida" name="descricao"
                            maxlength="50" required />
                        <label class="label">Valor</label>
                        <input class="input" type="number" required name="valor">
                        <label class="label">Data Pagamento</label>
                        <input class="input" type="date" required name='dataPagto'>
                        <label class="label">Moeda</label>
                        <select class="input" required name="idMoedas_fk">
                            <% for( let index=0; index < moedas.length; index++ ) { %>
                                <option value="<%= moedas[index].id %>">
                                    <%= moedas[index].nome %>
                                </option>
                                <% } %>
                        </select>
                        <label class="label">Banco</label>
                        <input class="input" type="text" required maxlength="50" name="banco">
                        <label class="label">Observação</label>
                        <textarea class="input" maxlength="500" name="observacao"></textarea>
                        <button class="button is-primary" type="submit">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%-include("./partials/footer.ejs", { title: title })%>
    </footer>
</body>

</html>